//colors//
$color-white: white;
$color-logo-blue: rgb(0, 82, 150);
$color-bg-fairblue: rgba(0, 82, 154, 0.17);
$color-bg-grey: rgba(233, 227, 227, 0.73);

//font size//

$font-size12: 0.75em;
$font-size14: 0.875em;
$font-size16: 1rem;
$font-size18: 1.125rem;
$font-size20: 2.24rem;
$font-size30: 1.875rem;
